body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.horiz.symbolX {
  background: linear-gradient(
  0deg,
  #ff0000 0%,
  #ff0000 47%,
  #000000 47.01%,
  #000000 52%,
  #ff0000 52.01%,
  #ff0000 100%);
}
.square.horiz.symbolO {
  background: linear-gradient(
  0deg,
  #0000ff 0%,
  #0000ff 47%,
  #000000 47.01%,
  #000000 52%,
  #0000ff 52.01%,
  #0000ff 100%);
}

.square.vertical.symbolX {
	background: linear-gradient(
	90deg, 
	#ff0000 0%,
	#ff0000 47%,
	#000000 47.01%,
	#000000 52%,
	#ff0000 52.01%,
	#ff0000 100%);
}
.square.vertical.symbolO {
	background: linear-gradient(
	90deg, 
	#0000ff 0%,
	#0000ff 47%,
	#000000 47.01%,
	#000000 52%,
	#0000ff 52.01%,
	#0000ff 100%);
}

.square.topBottom.symbolX {
	background: linear-gradient(
	45deg,
	#ff0000 0%,
	#ff0000 47%,
	#000000 47.01%,
	#000000 52%,
	#ff0000 52.01%,
	#ff0000 100%);
}
.square.topBottom.symbolO {
	background: linear-gradient(
	45deg,
	#0000ff 0%,
	#0000ff 47%,
	#000000 47.01%,
	#000000 52%,
	#0000ff 52.01%,
	#0000ff 100%);
}

.square.bottomUp.symbolX {
	background: linear-gradient(
	135deg,
	#ff0000 0%,
	#ff0000 47%,
	#000000 47.01%,
	#000000 52%,
	#ff0000 52.01%,
	#ff0000 100%);
}
.square.bottomUp.symbolO {
	background: linear-gradient(
	135deg,
	#0000ff 0%,
	#0000ff 47%,
	#000000 47.01%,
	#000000 52%,
	#0000ff 52.01%,
	#0000ff 100%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

